In [5]:
import os
import pandas as pd

In [45]:
path = os.path.join(os.getenv("PROCESSED_DIR","./data/processed"), "tables", "labs.parquet")
df = pd.read_parquet(path)
df

,analyte,value,unit,ref_low,ref_high,flag,date,page,vendor,source,source_type
0,MH59255,28.0,None,NaN,NaN,None,2024-03-18,1,LabCorp,data/labs/LabCorp_20240318.pdf,labs
1,Date Collected: 03/18/2024,3.0,None,NaN,NaN,None,2024-03-18,1,LabCorp,data/labs/LabCorp_20240318.pdf,labs
2,Iron Bind.Cap.(TIBC),261.0,None,250.0,450.0,None,2024-03-18,1,LabCorp,data/labs/LabCorp_20240318.pdf,labs
3,UIBC 01,170.0,None,111.0,343.0,None,2024-03-18,1,LabCorp,data/labs/LabCorp_20240318.pdf,labs
4,Iron 01,91.0,None,38.0,169.0,None,2024-03-18,1,LabCorp,data/labs/LabCorp_20240318.pdf,labs
...,...,...,...,...,...,...,...,...,...,...,...
384,"Triiodothyronine (T3), Free 01",3.1,None,2.0,4.4,None,2025-03-27,4,LabCorp,data/labs/LabCorp_20250327.pdf,labs
385,Apolipoprotein B 03,62.0,None,NaN,90.0,None,2025-03-27,4,LabCorp,data/labs/LabCorp_20250327.pdf,labs
386,425-417-3604,877.0,None,NaN,NaN,None,2025-03-27,4,LabCorp,data/labs/LabCorp_20250327.pdf,labs
387,05/26/1995,21025370.0,None,NaN,NaN,None,2025-03-27,4,LabCorp,data/labs/LabCorp_20250327.pdf,labs
388,Reference Interval,13.0,%,13.0,17.7,None,2025-03-27,5,LabCorp,data/labs/LabCorp_20250327.pdf,labs

In [46]:
df[df['vendor'] == 'Ways2Well']

Empty DataFrame
Columns: [analyte, value, unit, ref_low, ref_high, flag, date, page, vendor, source, source_type]
Index: []

In [42]:
df[df['vendor'] == 'ways2well'].shape

(0, 11)

In [36]:
df[df['vendor'] == 'LabCorp']

,analyte,value,unit,ref_low,ref_high,flag,date,page,vendor,source,source_type
0,MH59255,28.0,None,NaN,NaN,None,2024-03-18,1,LabCorp,data/labs/LabCorp_20240318.pdf,labs
1,Date Collected: 03/18/2024,3.0,None,NaN,NaN,None,2024-03-18,1,LabCorp,data/labs/LabCorp_20240318.pdf,labs
2,Iron Bind.Cap.(TIBC),261.0,None,250.0,450.0,None,2024-03-18,1,LabCorp,data/labs/LabCorp_20240318.pdf,labs
3,UIBC 01,170.0,None,111.0,343.0,None,2024-03-18,1,LabCorp,data/labs/LabCorp_20240318.pdf,labs
4,Iron 01,91.0,None,38.0,169.0,None,2024-03-18,1,LabCorp,data/labs/LabCorp_20240318.pdf,labs
...,...,...,...,...,...,...,...,...,...,...,...
384,"Triiodothyronine (T3), Free 01",3.1,None,2.0,4.4,None,2025-03-27,4,LabCorp,data/labs/LabCorp_20250327.pdf,labs
385,Apolipoprotein B 03,62.0,None,NaN,90.0,None,2025-03-27,4,LabCorp,data/labs/LabCorp_20250327.pdf,labs
386,425-417-3604,877.0,None,NaN,NaN,None,2025-03-27,4,LabCorp,data/labs/LabCorp_20250327.pdf,labs
387,05/26/1995,21025370.0,None,NaN,NaN,None,2025-03-27,4,LabCorp,data/labs/LabCorp_20250327.pdf,labs
388,Reference Interval,13.0,%,13.0,17.7,None,2025-03-27,5,LabCorp,data/labs/LabCorp_20250327.pdf,labs